DISCORD_TOKEN=
DISCORD_CLIENT_ID=
BOT_OWNER_ID=
CLIENT_ID=
DISCORD_SCRAPE_TOKEN=
ROVER_API_KEY=
GOOGLE_API_KEY=
GOOGLE_CX=
SHORTEN_API_URL=
SHORTEN_API_KEY=
GITHUB_TOKEN=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
ROBLOSECURITY=
INSTAGRAM_SESSION_ID=
REDDIT_COOKIE=
